@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
   
</head>
<body class="hold-transition login-page">
    <div class="login-box">

        <div class="card">
            <div class="card-body login-card-body">
               <h1>
                   امکان دسترسی شما به این عملکرد وجود ندارد!
               </h1>
            </div>
            
        </div>
    </div>
 
</body>
</html>
@*@section nolayout{
    }*@
